<launch>
  <group ns="arc2019_1">
    <node pkg="arc2019" name="abh" type="abh.py" output="screen"/>
    <node pkg="arc2019" name="brain" type="brain.py" output="screen"/>
    <node pkg="arc2019" name="eyes1" type="eyes1.py" output="screen"/>
    <node pkg="arc2019" name="eyes2" type="eyes2.py" output="screen"/>
    <node pkg="arc2019" name="eyes3" type="eyes3.py" output="screen"/>
    <node pkg="arc2019" name="dummyclient" type="client_dummy.py" output="screen"/>
    <node pkg="arc2019" name="foot" type="foot.py" output="screen"/>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
    <node pkg="arc2019" name="server" type="server.py" output="screen"/>
    <include file="$(find roswww)/launch/roswww.launch" />
  </group>
</launch>
