<launch>
  <group ns="arc2020_2">
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
    <node pkg="arc2020" name="server" type="server.py" output="screen"/>
    <include file="$(find roswww)/launch/roswww.launch" />
    <node pkg="arc2020" name="abh" type="abh.py" output="screen"/>
    <node pkg="arc2020" name="foot" type="foot.py" output="screen"/>
  </group>
</launch>
